{
  "root": true,
  "parserOptions": {
    "project": "tsconfig.eslint.json"
  },
  "plugins": ["@typeofweb/eslint-plugin"],
  "extends": ["plugin:@typeofweb/recommended"],
  "overrides": [
    {
      "files": ["__tests__/**/*.ts"],
      "rules": {
        "@typescript-eslint/consistent-type-assertions": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    }
  ]
}
