node_modules
dist
coverage/
.clinic/
.vscode/snipsnap.code-snippets
*.log
.rollup.cache
!acceptance_tests/dist
temp


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# next.js
docs/.next/
docs/out/

# production
docs/build


# local env files
docs/.env.local
docs/.env.development.local
docs/.env.test.local
docs/.env.production.local

# vercel
docs/.vercel
