.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1.35rem 1.25rem;
  background-color: var(--nav-background);
  min-height: var(--header-height);
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuIcon {
  cursor: pointer;
  filter: invert(100%);

  @media screen and (min-width: 60rem) {
    display: none;
  }
}

.nav {
  display: none;

  @media screen and (min-width: 60rem) {
    display: block;
    width: 100%;
    max-width: calc(100% - var(--reference-width) - var(--table-of-contents-width));
    margin: 0 auto;
    background-color: var(--nav-background);
  }
}

.navList {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navItem {
  padding: 0.25rem 1rem;
}

.navAnchor {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--white);
}
